USE [master]
GO
/****** Object:  Database [PAL-AI]    Script Date: 01/12/2024 3:24:28 pm ******/
CREATE DATABASE [PAL-AI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PAL-AI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PAL-AI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PAL-AI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PAL-AI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PAL-AI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PAL-AI]
GO
/****** Object:  User [henry]    Script Date: 01/12/2024 3:24:28 pm ******/
CREATE USER [henry] FOR LOGIN [henry] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [henry]
GO
/****** Object:  Table [dbo].[address]    Script Date: 01/12/2024 3:24:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[street_address] [varchar](50) NULL,
	[barangay] [varchar](50) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[postal_code] [int] NOT NULL,
	[province] [varchar](50) NOT NULL,
	[country] [varchar](50) NOT NULL,
	[created_at] [timestamp] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rice_leaf_scan]    Script Date: 01/12/2024 3:24:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rice_leaf_scan](
	[rice_leaf_scan_id] [int] IDENTITY(1,1) NOT NULL,
	[user_profile_id] [int] NOT NULL,
	[rice_plant_id] [int] NOT NULL,
	[scan_image] [varbinary](max) NOT NULL,
	[disease_prediction] [varchar](50) NOT NULL,
	[disease_prediction_score] [int] NOT NULL,
	[created_at] [timestamp] NOT NULL,
 CONSTRAINT [PK_rice_leaf_scan] PRIMARY KEY CLUSTERED 
(
	[rice_leaf_scan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rice_plant]    Script Date: 01/12/2024 3:24:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rice_plant](
	[rice_plant_id] [int] IDENTITY(1,1) NOT NULL,
	[variety_name] [varchar](50) NOT NULL,
	[date_planted] [date] NOT NULL,
	[expexted_harvest_date] [date] NOT NULL,
	[created_at] [timestamp] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_rice_plant] PRIMARY KEY CLUSTERED 
(
	[rice_plant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scan_history]    Script Date: 01/12/2024 3:24:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scan_history](
	[scan_history_id] [int] IDENTITY(1,1) NOT NULL,
	[rice_leaf_scan_id] [int] NOT NULL,
	[date_captured] [timestamp] NOT NULL,
	[update_at] [datetime] NULL,
 CONSTRAINT [PK_scan_history] PRIMARY KEY CLUSTERED 
(
	[scan_history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_profile]    Script Date: 01/12/2024 3:24:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_profile](
	[user_profile_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[firstname] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[gender] [varchar](50) NOT NULL,
	[mobile_number] [nvarchar](50) NOT NULL,
	[address_id] [int] NULL,
	[created_at] [timestamp] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_user_profile] PRIMARY KEY CLUSTERED 
(
	[user_profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 01/12/2024 3:24:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[created_at] [timestamp] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[rice_leaf_scan]  WITH CHECK ADD  CONSTRAINT [FK_rice_leaf_scan_rice_plant] FOREIGN KEY([rice_plant_id])
REFERENCES [dbo].[rice_plant] ([rice_plant_id])
GO
ALTER TABLE [dbo].[rice_leaf_scan] CHECK CONSTRAINT [FK_rice_leaf_scan_rice_plant]
GO
ALTER TABLE [dbo].[scan_history]  WITH CHECK ADD  CONSTRAINT [FK_scan_history_rice_leaf_scan] FOREIGN KEY([rice_leaf_scan_id])
REFERENCES [dbo].[rice_leaf_scan] ([rice_leaf_scan_id])
GO
ALTER TABLE [dbo].[scan_history] CHECK CONSTRAINT [FK_scan_history_rice_leaf_scan]
GO
ALTER TABLE [dbo].[user_profile]  WITH CHECK ADD  CONSTRAINT [FK_user_profile_address] FOREIGN KEY([address_id])
REFERENCES [dbo].[address] ([address_id])
GO
ALTER TABLE [dbo].[user_profile] CHECK CONSTRAINT [FK_user_profile_address]
GO
USE [master]
GO
